<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="/assets/about.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <!--<h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>-->
                <h1 class="mb-4" style="text-align:center;"><span>About Us</span></h1>
                <h5 class="mb-4" style="text-align:justify;color: white;"> The College is focused on creating versatile engineers who can apply their knowledge
                    and skills anywhere in the world. It is well known as a reputed institute for under-graduate
                    programs in  Computer Engineering, Electronics Engineering and Mechanical
                    Engineering. The Institute endeavours to provide quality technical education in
                    line with the requirements of today’s competitive industry and fast paced technological
                    developments.</h5>
                <h5 class="mb-4" style="text-align:justify;color: white;">Realizing the fact that faculty is the most important resource, special efforts have
                    been made to find, recruit and retain highly qualified and competent faculty. State of the art
                    infrastructure created and acquired by the Institute is of a very high quality and includes
                    multimedia classrooms, Wifi Campus, well equipped laboratories, well stocked modern library with
                    digital media, AV theatres, seminar halls & Swami Vivekanand Auditorium having capacity of 10000.
                </h5>
                <h2 class="mb-4"style="text-align:center;"><span>Our Features</span></h2>
                <div class="row gy-2 gx-4 mb-4" style="color: white;">
                    <div class="col-sm-6">
                        <h5 class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Faculties</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Hitech classrooms</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Standerd</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Top Recruiter</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>World Class Infrastructure</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Library Facility</h5>
                    </div>
                </div>
                <!--<a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->