<app-adminpanel></app-adminpanel>

<div class="main">
    <h1 style="text-align:center;"><span>Faculties</span></h1><br><br>

<div  style="margin: 10px; margin-left:0px; float: left; width: 320px;">
<button  class="button" (click)="me()">Mechanical Engineering</button>
</div>

<div  style="margin: 10px; float: left; width: 310px;">
<button  class="button" (click)="ee()">Electronics Engineering</button>
</div>

<div style="margin: 10px; float: left; width: 110px;">
<button  class="button" (click)="ce()">Computer Engineering</button>
</div>
</div>