<!--Main Navigation-->
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          
          <img src="/assets/student logo.png" height="120" width="50px" alt="" loading="" class="center" /> <br>
          <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/mesdashboard" routerLinkActive="active" href="">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <!-- <a class="nav-item nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active" href="">Home</a> -->
          <!-- <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/mefstudents" routerLinkActive="active" href=""
            ><i class="fas fa-users fa-fw me-3"></i><span>Students</span></a
          > -->
          <!-- <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/afaculties" routerLinkActive="active" href=""
            ><i class="fas fa-users fa-fw me-3"></i><span>Marksheet</span></a
          >
          <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/astaff" routerLinkActive="active" href=""
            ><i class="fas fa-users fa-fw me-3"></i><span>Notice</span></a
          > -->
          <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Webiste traffic</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Password</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
          > -->
          <!-- <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/acourse" routerLinkActive="active" href=""
            ><i class="fas fa-globe fa-fw me-3"></i><span>Branch</span></a
          > -->
          <!-- <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/aattendence" routerLinkActive="active" href=""
            ><i class="fas fa-building fa-fw me-3"></i><span>Attendence</span></a
          >-->
          <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/mesmarksheet" routerLinkActive="active" href=""
            ><i class="fas fa-calendar fa-fw me-3"></i><span>Result</span></a>

          <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-users fa-fw me-3"></i><span>Students</span></a
          > -->
          <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/mesfees" routerLinkActive="active" href=""
            ><i class="fas fa-money-bill fa-fw me-3"></i><span>Fees</span></a
          >
          <a class="list-group-item list-group-item-action py-2 ripple" aria-current="page" routerLink="/student" routerLinkActive="active" href=""
            ><i class="fas fa-lock fa-fw me-3"></i><span>Logout</span></a
          >
          <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a
          > -->
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="main navbar navbar-expand-lg navbar-light bg-blue fixed-top" style="background-color:wheat; height: 50px;">
      <!-- Container wrapper -->
      <div class="container-fluid"> 
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <!-- <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="50"
            width="230"
            alt="MDB Logo"
            loading="lazy"
          /> --><h3 style="height: 50px;padding-top:15px;">Welcome Back,Student..!! (Mechanical Engineering)</h3>
        </a>
        <!-- Search form -->
        <!-- <form class="d-none d-md-flex input-group w-auto my-auto ">
          <input
            autocomplete="off"
            type="search"
            class="form-control rounded"
            placeholder='Search (ctrl + "/" to focus)'
            style="min-width: 500px;"
          />
          <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
        </form> -->
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row" style="height:80px;">
          <!-- Notification dropdown -->
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false" 
            >
              <i class="fa fa-bell" ></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
   -->
          <!-- Icon -->
          <!-- <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#">
              <i class="fa fa-fill-drip"></i>
            </a>
          </li> -->
          <!-- Icon -->
          <!-- <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <i class="fab fa-github"></i>
            </a>
          </li> -->
  
          <!-- Icon dropdown
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-language"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="flag-united-kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i
                ></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
              </li>
            </ul>
          </li> -->
  
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="/assets/student logo.png"
                class="rounded-circle"
                height="32"
                alt=""
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <!-- <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li> -->
              <li>
                <a class="dropdown-item"  aria-current="page" routerLink="/student" routerLinkActive="active" href="">Logout</a>
                <!-- <a class="dropdown-item" href="index.html">Logout</a> -->
                <!-- <a class="dropdown-item" href="admin.component.html">Logout</a> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 0px;">
    <div class="container pt-4 "></div>
  </main>
  <!--Main layout-->
