<app-adminpanel></app-adminpanel>

<div class="main">
 <h1 style="text-align:center;"><span>Dashboard</span></h1><br><br><br><br>
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g2.jpg"> -->
      <!-- <img src="/assets/g2.jpg" alt="" width="800" height="600"> -->   
    <!-- </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: red;">Students</h1><br>
    <h3 style="text-align:center;">Total Students: 15</h3>
    <h3 style="text-align:center;">Newely Added: 5</h3><br>
    <button class="button" (click)="students()">Go to Page</button>
  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/G1.jpg">
      <img src="/assets/G1.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: red;">Faculties</h1><br>
    <h3 style="text-align:center;">Total Faculties: 12</h3>
    <h3 style="text-align:center;">Newely Added: 3</h3><br>
    <button class="button" (click)="faculties()">Go to Page</button>

  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g3.jpg">
      <img src="/assets/g3.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: red;">Other Staff</h1><br>
    <h3 style="text-align:center;">Total Staff: 8</h3>
    <h3 style="text-align:center;">Newely Added: 2</h3><br>
    <button class="button" (click)="staff()">Go to Page</button>
  </div>

  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g3.jpg">
      <img src="/assets/g3.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: red;">Branch</h1><br>
    <h3 style="text-align:center;">Total Branch: 3</h3>
    <h3 style="text-align:center;">Newely Added: 1</h3><br>
    <button class="button" (click)="courses()">Go to Page</button>
  </div><br><br>
</div>