<div class="container-xxl py-5">
    <div class="container">

        <!-- <img src="/assets/Mechanical Engg..jpg" alt="" width="100" height="200" class="center"><br> -->
        <h1 style="text-align:center ;"><span>Training & Placement Department</span></h1><br><br>
        <h3 style="text-align:left ;"><span>About Department:</span></h3>
        <h5 style="text-align:justify ;color: white;">“The cell works throughout the year towards generating placement
            opportunities for the student”
            The Training and placement is the integral part of SKCOET,
            Amravati. We have centralized training and placement department for SKCOET. Our placement officers are
            spread across India especially in metro cities to bring employment to our students. The cell also works for
            the counseling center for the students. The cell works throughout the year towards generating placement
            opportunities to the student. <br>The placement cell is strongly supported by active HOD’s of all departments,
            departmental TNP coordinators, student coordinators. The placement cell has developed a unique way to keep
            the students inform with all Avenues open for them with the unique job portal built exclusively for PRPGEI
            students. PRPGEI provide a great impetus for the student to start their own ventures as Entrepreneur cell is
            the integral part of the placement cell at PRPGEI. PRPGEI’s R&D cell is also an integral part of placement
            cell where student can do the research. They can develop new projects, new software’s, mobile apps etc. to
            contribute for society.
        </h5><br><br>

        <!-- <h3 style="text-align:left ;"><span>Salient features of Department:</span></h3>
        <h5 style="text-align:justify ;color: white;">Mechanical Engineering Department was established in 2010 with a
            sanctioned
            intake of 60 students and has been working with the mission to excel for producing the skilled technocrats
            and committed human beings
            After successful completion of our program, students are affluent with knowledge to enter in their fields of
            fascination. Also, some of them crave for higher studies in technical or management disciplines.
            The department has highly qualified, experienced faculties with academic integrity.<br>
            Motivational discourses are arranged for the students for stress management. Students are also ushered for
            competitive exams not only for engineering but also for civil services.
            Department has established student chapters of various professional societies like MESA,SAE,BAJA etc.
            The CAD centre of the department comprises of latest hardware & software’s like Pro-E, MATLAB, Master CAM,
            Ansys and Hypermesh and much other technology required to sharpen the skills of the students.
            The department also offers consultancy in the field of materials and engine testing to the industries.
            Therefore, it has been always a destination for students having strong longing for technical education.
        </h5><br>

        <h3 style="text-align:left ;"><span>Career Prospects:</span></h3>
        <h5 style="text-align:left ; color: white;">
            ● Industry and commerce<br>
            ● Graduate School<br>
            ● Entrepreneur/Business Owner<br>
            ● National Research Labs<br>
            ● Military Engineering Services<br>
            ● Government/Public Sector Undertakings(PSUs)<br>
            ● Preparation for other Professions (law, medicine, teaching, etc.)
        </h5><br><br> -->

        <!-- Team Start -->
        <!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Staff</h6>
            <h3 class="mb-5"><span>Expert Faculty</span></h3>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/team-1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Dr.Ramesh Pawar</h5>
                        <small>HOD</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/team-2.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Er.Rashmi Gaiwad</h5>
                        <small>Assitant Professor</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/team-3.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Dr.Ramkrishna Reddy</h5>
                        <small>Professor</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/team-4.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Er.Radha Goswami</h5>
                        <small>Associate Professor</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
        <!-- Team End -->

        <!-- <div class="row">
            <div class="column" style="background-color:#aaa;">
                <h2 style="color:red ;">Vision</h2>
                <h5>●To become a lead center for creating potential mechanical engineers having capabilities to accept
                    new challenges</h5>
            </div>
            <div class="column" style="background-color:#bbb;">
                <h2 style="color:red ;">Mission</h2>
                <h5>● Dedication towards achieving highest standard of technical education.<br>
                    ● Promotion for innovative research in Mechanical Engineering.<br>
                    ● Application of comprehensive engineering knowledge and skills for meeting important societal
                    needs.<br>
                    ● Strive for overall personality development of students to make them globally competitive
                    Mechanical Engineers</h5>
            </div>
        </div> -->
    </div>
</div>