<app-eestudentpanel></app-eestudentpanel>

<div class="main">
 <h1 style="text-align:center;"><span>Electronics Engineering</span></h1><br><br><br><br>
  <div class="gallery">
    <h1 style="text-align:center;color: red;">Result</h1><br>
    <!-- <h3 style="text-align:center;">Total Students: 60</h3>
    <h3 style="text-align:center;">Newely Added: 15</h3><br> -->
    <button class="button" (click)="students()">Go to Page</button>
  </div>
  
  <div class="gallery">
    <h1 style="text-align:center;color: red;">Fees</h1><br>
    <!-- <h3 style="text-align:center;">Total Faculties: 12</h3>
    <h3 style="text-align:center;">Newely Added: 3</h3><br> -->
    <button class="button" (click)="marksheet()">Go to Page</button>
  </div>
  
  <!-- <div class="gallery">
    <h1 style="text-align:center;color: red;">Notice</h1><br>
    <h3 style="text-align:center;">Total Staff: 20</h3>
    <h3 style="text-align:center;">Newely Added: 5</h3><br> 
    <button class="button" (click)="notice()">Go to Page</button>
  </div> -->

  <!-- <div class="gallery">
    <h1 style="text-align:center;color: red;">Branch</h1><br>
    <h3 style="text-align:center;">Total Branch: 3</h3>
    <h3 style="text-align:center;">Newely Added: 1</h3><br>
    <button class="button" (click)="courses()">Go to Page</button>
  </div><br><br>
</div> -->


