<div class="container-xxl py-5">
    <div class="container">
        <!-- <img src="/assets/electronic engineering.jpg" alt="" width="100" height="200" class="center"><br> -->
        <h1 style="text-align:center ;"><span>Electronics Engineering</span></h1><br><br>
        <h3 style="text-align:left ;"><span>About Department:</span></h3>
        <h5 style="text-align:justify ; color: white;">Department of Electronics Engineering is a coactive
            product with a mission of developing graduates capable of contributing to the advancement of Electronics and
            Telecommunication engineering. A team of competent faculty members under the leadership of Dr. Rahul
            Ghongade unanimously nurture students to become technocrats with a humane outlook. The Bachelor of
            Engineering Program in E&TC commenced from the academic year 2010. The laboratories are equipped with
            the state of art hardware and software thus striving to bridge the theory – practice divide.<br><br>
            In addition, the department also realizes that in today’s frenetically competitive market world, the
            students need to be confident, organized, multi-skilled and flexible individuals apart from being imparted
            training in electronics science only. The students get hands on different skills of electronics through
            fusion of science and engineering skills in the department. In a nutshell the department is well nurtured
            and progressive to cater to all needs and aspirations of our students.
        </h5><br><br>

        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-primary px-3">Staff</h6>
                    <h3 class="mb-5"><span>Expert Faculty</span></h3>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="/assets/team-1.jpg" alt="">
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">Dr.Ramesh Pawar</h5>
                                <small>HOD</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="/assets/team-2.jpg" alt="">
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">Er.Rashmi Gaiwad</h5>
                                <small>Assitant Professor</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="/assets/team-3.jpg" alt="">
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">Dr.Ramkrishna Reddy</h5>
                                <small>Professor</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="/assets/team-4.jpg" alt="">
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">Er.Radha Goswami</h5>
                                <small>Associate Professor</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        <div class="row">
            <div class="column" style="background-color:#aaa;">
                <h2 style="color:red ;">Vision</h2>
                <h5>●To become a center of excellence in Electronics Engineering to produce quality,
                    self motivated, creative and ethical engineers.</h5>
            </div>
            <div class="column" style="background-color:#bbb;">
                <h2 style="color:red ;">Mission</h2>
                <h5>● To provide basic and advance knowledge to the students of Electronics Engineering.<br>
                   ● To strive towards efficient industry–institute interaction and academic excellence.<br>
                   ● To inculcate awareness towards societal needs and environmental issues.<br></h5>
            </div>
        </div>
</div>
</div>

    