<!-- Carousel Start -->

<div class="container-fluid p-0 mb-5">
    <!--<div class="owl-carousel header-carousel position-relative">-->
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="/assets/carousel-1.jpg" alt="">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
            style="background: rgba(24, 29, 56, .7);">
            <div class="container">

                <div class="row justify-content-start">
                    <div class="col-sm-10 col-lg-8">
                        <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Engineering College</h5>
                        <h1 class="display-3 text-white animated slideInDown">100% Placement Assistance</h1><br>
                        <p class="fs-5 text-white mb-4 pb-2">Teaching The Professionals Of Tomorrow..!!</p>
                        <!--<p class="fs-5 text-white mb-4 pb-2">A Legacy Of Leading-Big Dreams Come True</p>-->
                        <!--<a href="/src/app/about/about.component.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>-->
                        <a class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft" aria-current="page" routerLink="/about" routerLinkActive="active" href="">Read More</a>
                        <!--<a href="/CMS2/src/app/join-now/join-now.component.html"
                            class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>-->
                        <a class="btn btn-light py-md-3 px-md-5 animated slideInRight" aria-current="page" routerLink="/student-sign-up" routerLinkActive="active" href="">Join Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/assets/carousel-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                                <h1 class="display-3 text-white animated slideInDown">Get Educated Online From Your Home</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>
</div>
<!-- Carousel End -->
<div class="container-xxl py-5">
    <div class="container">
<h1 style="text-align:center ;"><span>Welcome to SK COET,Hyderabad</span></h1><br>
<h5 style="text-align:justify;color: white;">SK COET,Hyderabad was established in the
    year 2010 with the aim of providing professional education in the field of Engineering with an area
    of 10 acres. The College is focused on creating versatile engineers who can apply their knowledge
    and skills anywhere in the world. It is well known as a reputed institute for under-graduate
    programs in Computer Engineering, Electronics Engineering and Mechanical
    Engineering. The Institute endeavours to provide quality technical education in
    line with the requirements of today’s competitive industry and fast paced technological
    developments.</h5>
<h5 style="text-align:justify;color: white;">Realizing the fact that faculty is the most important resource, special efforts have
    been made to find, recruit and retain highly qualified and competent faculty. State of the art
    infrastructure created and acquired by the Institute is of a very high quality and includes
    multimedia classrooms, Wifi Campus, well equipped laboratories, well stocked modern library with
    digital media, AV theatres, seminar halls & Swami Vivekanand Auditorium having capacity of 10000.
</h5><br>
<h3 style="text-align:left ;"><span>Our Vision</span></h3>
<h5 style="text-align:justify;color: white;">
    To flourish as a center of excellence for producing the skilled technocrats and committed human beings.
</h5><br>
    
<h3 style="text-align:left ;"><span>Our Mission</span></h3>
<h5 style="text-align:justify;color: white;">
    
    ●To create conducive environment for teaching & learning.<br>
    ●To impart quality education through demanding academic programs.<br>
    ●To enhance career opportunities by exposure to Industries & recent technologies.<br>
    ●To develop professionals with strong ethics and human values for the betterment of society.

</h5><br>

<h3 style="text-align:left ;"><span>Quality Policy</span></h3>
<h5 style="text-align:justify;color: white;">
    
    We are committed to impart quality technical and management education as per the need and expectations of the students.
</h5><br>

<h2 style="text-align:center ;"><span>Gallery</span></h2>
<p style="text-align:justify;">
<div class="gallery">
    <a target="_blank" href="/assets/g2.jpg">
      <img src="/assets/g2.jpg" alt="" width="800" height="600">
    </a>
    <!--<div class="desc">Add a description of the image here</div>-->
  </div>
  
  <div class="gallery">
    <a target="_blank" href="/assets/G1.jpg">
      <img src="/assets/G1.jpg" alt="" width="800" height="600">
    </a>
    <!--<div class="desc">Add a description of the image here</div>-->
  </div>
  
  <div class="gallery">
    <a target="_blank" href="/assets/g3.jpg">
      <img src="/assets/g3.jpg" alt="" width="800" height="600">
    </a>
    <!--<div class="desc">Add a description of the image here</div>-->
  </div><br><br>

  
  <div class="gallery">
    <a target="_blank" href="/assets/g4.jpg">
      <img src="/assets/g4.jpg" alt="Mountains" width="400" height="400">
    </a>
    <!--<div class="desc">Add a description of the image here</div>-->
  </div>
  <div class="gallery">
    <a target="_blank" href="/assets/g5.jpg">
      <img src="/assets/g5.jpg" alt="" width="800" height="600">
    </a>
    <!--<div class="desc">Add a description of the image here</div>-->
  </div>
  
  <div class="gallery">
    <a target="_blank" href="/assets/g6.jpg">
      <img src="/assets/g6.jpg" alt="" width="800" height="600">
    </a>
    <!--<div class="desc">Add a description of the image here</div>-->
  </div><br>
    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>


