.main {
    margin-left: 250px; 
    margin-right: 10px;
    padding: 0px 0px;
  }
  span{
    background-color:blue; 
    color:whitesmoke;
    padding: 5px 35px 5px 35px;
    border-radius: 15px;
    }

    table, th, td {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center;
    }
    th{
      background-color: yellow;
    }

    td{
      background-color: #96D4D4;
    }

  div.form-outline{
    margin: 9px;
    float: left;
    
  }

  /* .operation{
    
    
    width: 80px;
  } */

  .button {
    margin-left: 230px ;
    display: block;
    padding: 5px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
